body {
	margin: 0 auto;
	text-align: center;
	background-color: lightgray;
}
th {
	padding: 20px;
	margin: 0 auto;
}
.appBox {
	width: 320px;
	height: 100%;
	background-color: white;
	padding: 20px;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}
.pointer {
	cursor: pointer;
	font-weight: 600;
	font-size: 1em;
	border-bottom: 1px solid gray;
}
